<%= form_with(model: suspect, local: true) do |form| %>
 

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :suspect_nombre %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.text_field :fecha, class: "datepicker" %>
  </div>

  <div class="field">
    <%= form.label "Hora" %>
    <%= form.text_field :fecha, class: "timepicker" %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :suspect_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :suspect_longitude %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :suspect_address %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_field :details, id: :suspect_details %>
  </div>

  <div class="field">
    <%= form.label :images %>
      <div class="file-field input-field">
        <div class="btn green">
          <span>Adjuntar archivo</span>
          <%= form.file_field :images, multiple: true %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<!-- Manejo de errores -->
<% if suspect.errors.any? %>
<div id="error_explanation">
  <p>
   Hubo un error en el creacion del reporte:</p>

  <ul>
    <% suspect.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
  </ul>
</div>
<% end %>
