<%= form_with(model: suspect, data: { toggle: "modal", target: "#modal1"}) do |form| %>
    
    
      <div class="field">
        <%= form.label :nombre %>
        <%= form.text_field :nombre, id: :suspect_nombre %>
      </div>
    
      <div class="field">
        <%= form.label "Dia" %>
        <%= form.text_field :dia, class: "datepicker" %>
      </div>
    
      <div class="field">
        <%= form.label "Hora" %>
        <%= form.text_field :hora, class: "timepicker" %>
      </div>
    
      <div class="field">
        <%= form.label "Latitud" %>
        <%= form.text_field :latitude, id: :suspect_latitude , readonly: true %>
      </div>
        
      <div class="field">
        <%= form.label "Longitud" %>
        <%= form.text_field :longitude, id: :suspect_longitude , readonly: true %>
      </div>
    
      <div class="field">
        <%= form.label "Dirección" %>
        <%= form.text_field :address, id: :suspect_address %>
      </div>
    
      <div class="field">
        <%= form.label "Detalles" %>
        <%= form.text_field :details, id: :suspect_details %>
      </div>
    
      <div class="field">
        <%= form.label "Imágenes" %>
          <div class="file-field input-field">
            <div class="btn green">
              <span>Adjuntar archivo</span>
              <%= form.file_field :images, multiple: true %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
      </div>
    
      <div class="actions">
        <%= form.submit "Crear sospechoso",  class: 'btn' %>
      </div>
    <% end %>
    
    <!-- Manejo de errores -->
    <% if suspect.errors.any? %>
    <div id="error_explanation">
      <p>
       Hubo un error en el creacion del reporte:</p>
    
      <ul>
        <% suspect.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
    