 <li>
                     <div class="card horizontal">
                          <div class="card-image">
                              <div>
                                <%=suspect.created_at.strftime("%b %e, %l:%M %p")%>
                              </div>
                           <!--  <img src="assets/sospechoso.png">  -->
                             <img async defer src = "https://maps.googleapis.com/maps/api/streetview?size=300x300&location=<%=suspect.latitude%>,<%=suspect.longitude%>&heading=151.78&pitch=-0.76&key=AIzaSyBSx0bimXEZW2pCJQwXposaNJJll96JQ4g"></img>
                             
                             
                                    
                                    
                            <div class = "location">
                              <a class="btn-floating blue"><i class="small material-icons" >location_on</i> </a>
                              <div class="latitude"><%=suspect.latitude%></div>
                              <div class="longitude"><%=suspect.longitude%></div>
                            </div>
                          </div>
                      <div class="card-stacked">
                            <div class="card-content">
                                 <div>
                                   <div >
                                     <%= avatar_for(suspect.user,size: 35)%>
                                   </div> 
                                <%=link_to "@"+suspect.user.username, user_path(suspect.user.id)%>
                                
                              </div>
                              <p> <%= suspect.details.split.first(7).join(' ')%>...</p>
                            </div>
                            <div class="card-action">
                              <a  href="<%=suspect_path(suspect.id)%>">Ver Reporte</a>
                            </div>
                      </div>
                      
                  </div>
                </li>