 <li>
                     <div class="card horizontal">
                          <div class="card-image">
                             <img src="assets/sospechoso.png">
                             @<%= suspect.user.username%> <br></br>
                                    <%=time_ago_in_words(suspect.created_at)%>
                                    
                            <div class = "location">
                              <a class="btn-floating blue"><i class="small material-icons" >location_on</i> </a>
                              <div class="latitude"><%=suspect.latitude%></div>
                              <div class="longitude"><%=suspect.longitude%></div>
                            </div>
                          </div>
                      <div class="card-stacked">
                            <div class="card-content">
                              <p> <%= suspect.details.split.first(7).join(' ')%>...</p>
                            </div>
                            <div class="card-action">
                              <a  href="<%=suspect_path(suspect.id)%>">Ver Reporte</a>
                            </div>
                      </div>
                      
                  </div>
                </li>