<%= javascript_include_tag "g_maps/gm_suspect-new" %>
<%= render 'layouts/user-panel' %>
    <div class="main content">

        <div class="container">
<<<<<<< HEAD
            <h1>New Suspect</h1>

            <button class="btn custom_margin" id="btnaddmarker"> Add marker </button>

            <div id="map" class="map_report" class="custom_margin"></div>

            <button id="btn-location" class="btn custom_margin" style="float: right; display:block;" >Add location</button>

=======
            <h1>Report suspect</h1>
>>>>>>> 1434c308e3509c382e71b96e481e1341d1a862e5
            <%= render 'form', suspect: @suspect %>
            <%= link_to 'Back', user_panel_path, class: "btn btn-small" %>
        </div>


        <%= render "layouts/map-actions"%>

    </div>
