<%= javascript_include_tag "g_maps/gm_suspect-new" %>
<%= render 'layouts/user-panel' %>
    <div class="main content">

        <div class="container">
            <h1>Nuevo sospechoso</h1>

            <button class="btn custom_margin" id="btnaddmarker"> Agregar marcador </button>

            <div id="map" class="map_report map_report_suspect" class="custom_margin"></div>

            <button id="btn-location" class="btn custom_margin" style="float: right; display:block;" >Agregar localización</button>

            <%= render 'form', suspect: @suspect %>
            <%= link_to 'Volver', user_panel_path, class: "btn btn-small" %>
        </div>


        <%= render "layouts/map-actions"%>

    </div>
