<%= render "layouts/user-panel" %>

<div class="main content">
    <div class="container">

        <table class="striped table_data">
            <p id="notice"><%= notice %></p>

            <tr>
                <th>Fecha</th>
                <td><%= @suspect.fecha.to_date %></td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td><%= @suspect.address %></td>
            </tr>
            <tr>
                <th>Detalles</th>
                <td><%= @suspect.details %></td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td><%= @suspect.latitude %></td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td><%= @suspect.longitude %></td>
            </tr>
        </table>

        <div class="img_container">
            <% @suspect.images.each do |image|%>
                <% if !image.nil? %>
                <%= image_tag( image.medium,  class: "img_prev materialboxed")%>
                <% end %>
            <% end %>
        </div>
    <b>Calificación  :</b>     <%= rating_for @suspect, 'calificacion' , enable_half: true  %>
        <%= link_to user_panel_path, class: "btn-floating btn-large waves-effect waves-light dark-grey" do %>
            <i class="material-icons">arrow_back</i>
        <% end %>
        
        |
        <%= link_to edit_suspect_path(@suspect), class: "btn-floating btn-large waves-effect waves-light green" do %>
            <i class="material-icons">create</i>
        <% end %>
        |
        

        <%= link_to  suspect_path(@suspect, format: 'pdf'), class: "btn-floating btn-large waves-effect waves-light red" do %>
            <i class="material-icons">picture_as_pdf</i>
        <% end %>
        
        <%= render  "comments/comment" %>
         <%= render  "comments/form" %>
    </div>
</div>
