<%= render "layouts/user-panel" %>

<div class="main content">
    <div class="container">

<h1>Novedades de seguridad</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Dia</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @security_news.each do |security_news| %>
      <tr>
        <td><%= security_news.tipo %></td>
        <td><%= security_news.dia %></td>
        <td><%= security_news.latitude %></td>
        <td><%= security_news.longitude %></td>
        <td><%= security_news.address %></td>
        <td><%= security_news.details %></td>
        <td><%= link_to 'Show', security_news %></td>
        <td><%= link_to 'Edit', edit_security_news_path(security_news) %></td>
        <td><%= link_to 'Destroy', security_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_security_news_path , class: "btn" %>

    </div>
</div>
