<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @security_news.tipo %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @security_news.dia %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @security_news.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @security_news.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @security_news.address %>
</p>

<p>
  <strong>Details:</strong>
  <%= @security_news.details %>
</p>

<%= link_to 'Edit', edit_security_news_path(@security_news) %> |
<%= link_to 'Back', security_news_index_path %>
