<%= javascript_include_tag "materialize_init" %>
<%= javascript_include_tag "autocomplete" %>
<%= form_with(model: transport, local: true) do |form| %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<%= javascript_include_tag "autocomplete/autocompletar" %>
 <script>
     $(document).ready(function(){
      var extract =  window.location.hash.substring(1);
       document.getElementById("tipo_t").setAttribute('value', extract);
  });
 </script>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.select(:tipo, options_for_select([["Raponazo","Raponazo"],["Cosquilleo","Cosquilleo"],["Atraco a mano armada","Atraco a mano armada"],["Enga単o","Enga単o"],["Paseo millonario","Paseo millonario"]]) ) %>
  </div>

  
  <div class="field">
    <%= form.label :dia %>
    <%= form.text_field :dia, id: :transport_dia , class: "datepicker"%>
  </div>

  <div class="field">
      <%= form.label :hora %>
      <%= form.text_field :hora, id: :transport_hora, class: "timepicker" %>
    </div>
  

  <div class="field">
    <%= form.label :detalles %>
    <%= form.text_field :detalles, id: :transport_detalles %>
  </div>

  <div class="field">
    <%= form.label :longitude , style: "display:none"%>
    <%= form.text_field :longitude, id: :transport_longitude , style: "display:none"%>
  </div>

  <div class="field">
    <%= form.label :latitude , style: "display:none"%>
    <%= form.text_field :latitude, id: :transport_latitude , style: "display:none"%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :transport_address %>
  </div>

  <div class="field">
   
    <%= form.text_field :tipo_transp, id: :tipo_t , style: "display:none"%>
  </div>

  <!-- <div class="field">
    <%= form.label "Numero de la ruta" %>
    <%= form.select(:tipo, options_for_select([["Raponazo","Raponazo"],["Cosquilleo","Cosquilleo"],["Atraco a mano armada","Atraco a mano armada"],["Enga単o","Enga単o"],["Paseo millonario","Paseo millonario"]]) ) %>
  </div> -->

<<<<<<< HEAD
  <div class="field">
    <%= form.label "Numero de ruta", id: "label_auto" %>
    <%= form.text_field :id_route, id: "autocomplete-input", class: "autocomplete" %>
  </div>

  
=======
  <!-- <div class="field">
    <%= form.label "Numero de ruta" %>
    <%= form.text_field :id_route, id: "autocomplete-input" ,class: "autocomplete" %>
  </div> -->
<div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>

>>>>>>> 7760c5ac6f0a6881df125749dd27f1ca1ad33ec7
  

  <div class="field">
      <%= form.label :images %>
      <div class="file-field input-field">
          <div class="btn green">
              <span>Adjuntar archivo</span>
              <%= form.file_field :images, multiple: true %>
          </div>
          <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
          </div>
      </div>
  </div>

  <div class="actions">
      <%= form.submit class: "btn", id: 'submit'%>
    </div>

  <% if transport.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(transport.errors.count, "error") %> prohibited this transport from being saved:</h2>

    <ul>
    <% transport.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>
