<li> <div class="card horizontal">
                              <div class="card-image">
                                   <div>
                                    <%=transport.created_at.strftime("%b %e, %l:%M %p")%>
                                  </div>
                                 <img async defer src = "https://maps.googleapis.com/maps/api/streetview?size=300x300&location=<%=transport.latitude%>,<%=transport.longitude%>&heading=151.78&pitch=-0.76&key=AIzaSyBSx0bimXEZW2pCJQwXposaNJJll96JQ4g"></img>
                                 <span class="card-title"></span>
                                         <div>
                                              <%= if defined?( transport.user.username) then transport.user.username end %>
                                         </div>
                                  
                                           <div>
                                               <%=transport.tipo%>
                                           </div>
                                            
                                         
                                         
                                    <div class = "location">
                                      <a class="btn-floating blue"><i class="small material-icons" >location_on</i> </a>
                                      <div class="latitude"><%=transport.latitude%></div>
                                      <div class="longitude"><%=transport.longitude%></div>
                                    </div>
                              </div>
                              
                              <div class="card-stacked">
                                    <div class="card-content">
                                      <p> <%=transport.detalles.split.first(7).join(' ')%>
                                            ...</p>
                                    </div>
                                   <div class="card-action">
                                      <a  href="<%=transport_path(transport.id)%>">Ver Reporte</a>
                                    </div>
                              </div>
                              
                           </div>
                       </li>