<div class="main content">
  <div class="container">

    <p id="notice">
      <%= notice %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @transport.fecha %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @transport.tipo %>
    </p>

   

  

    <p>
      <strong>Detalles:</strong>
      <%= @transport.detalles %>
    </p>

   

    <p>
      <strong>Address:</strong>
      <%= @transport.address %>
    </p>

    <p>
      <strong>Tipo transp:</strong>
      <%= @transport.tipo_transp %>
    </p>

    <p>
      <strong>Images:</strong>
      <%= @transport.images %>
    </p>

    <%= link_to 'Edit', edit_transport_path(@transport) %> |
      <%= link_to 'Back', transports_path %>
      
       <h3>Comentarios:</h3>
        <% @transport.comments.each do |comment|%>
        <div class="divider"></div>
          <div class="section">
            <h5> <%=comment.user.username%></h5>
            <p><%=comment.body%></p>
          </div>
        
        <%end%>
      
  </div>
</div>