<div class="main content">
  <div class="container">

    <p id="notice">
      <%= notice %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @transport.fecha %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @transport.tipo %>
    </p>

     <img async defer src = "https://maps.googleapis.com/maps/api/streetview?size=300x300&location=<%=@transport.latitude%>,<%=@transport.longitude%>&heading=151.78&pitch=-0.76&key=AIzaSyBSx0bimXEZW2pCJQwXposaNJJll96JQ4g"></img>
         <div>
                                   <div >
                                     <%= avatar_for(@transport.user,size: 35)%>
                                   </div> 
                                <%=link_to "@"+@transport.user.username, user_path(@transport.user.id)%>
                                
                              </div>

  

    <p>
      <strong>Detalles:</strong>
      <%= @transport.detalles %>
    </p>

   

    <p>
      <strong>Address:</strong>
      <%= @transport.address %>
    </p>

    <p>
      <strong>Tipo transp:</strong>
      <%= @transport.tipo_transp %>
    </p>

    <p>
      <strong>Images:</strong>
      <%= @transport.images %>
    </p>

    <%= link_to 'Edit', edit_transport_path(@transport), class: "btn custom_margin" %> |
        <%= link_to 'Back', user_panel_path, class: "btn custom_margin" %>
  </div>
</div>