<%= render "layouts/user-panel" %>
<div class="main content">
  <div class="container">

    <p id="notice">
      <%= notice %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @transport.fecha %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @transport.tipo %>
    </p>


     <img async defer src = "https://maps.googleapis.com/maps/api/streetview?size=300x300&location=<%=@transport.latitude%>,<%=@transport.longitude%>&heading=151.78&pitch=-0.76&key=AIzaSyBSx0bimXEZW2pCJQwXposaNJJll96JQ4g"></img>
        <%if (@transport.user!= nil) then%>
        <div>
                 <div >
                       <%= avatar_for(@transport.user,size: 35)%>
                 </div> 
                  <%=link_to "@"+@transport.user.username, user_path(@transport.user.id)%>
         </div>
         <%end %>       
  



    <p>
      <strong>Detalles:</strong>
      <%= @transport.detalles %>
    </p>

    <p>
      <strong>Tipo Transporte:</strong>
      <%= @transport.tipo_transp %>
    </p>



    <p>
      <strong>Address:</strong>
      <%= @transport.address %>
    </p>


    <p>
      <strong>Images:</strong>
      <%= @transport.images %>
    </p>


    <% if @transport.user!= nil  && current_user?(@transport.user) %>
    <%= link_to 'Edit', edit_transport_path(@transport), class: "btn custom_margin" %> |
    <% end %>
   <%= link_to 'Back', user_panel_path, class: "btn custom_margin" %>
      
       <%= render "comments/comment" %>
       <%= render  "comments/form" %>
      


  </div>
</div>
