<%= render "layouts/user-panel" %>
<div class="main content">
  <div class="container">

    <p id="notice">
      <%= notice %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @transport.fecha %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @transport.tipo %>
    </p>



    <p>
      <strong>Detalles:</strong>
      <%= @transport.detalles %>
    </p>

    <p>
      <strong>Tipo Transporte:</strong>
      <%= @transport.tipo_transp %>
    </p>



    <p>
      <strong>Address:</strong>
      <%= @transport.address %>
    </p>


    <p>
      <strong>Images:</strong>
      <%= @transport.images %>
    </p>

    <%= link_to 'Edit', edit_transport_path(@transport), class: "btn" %> |
      <%= link_to 'Back', transports_path, class: "btn" %>
  </div>
</div>
