
<script>jQuery(document).ready(function($) {
  $(".clickable-row").click(function() {
  window.location = $(this).data("href");
  });
}); </script>


<div class = "container">

<div>
  <h1>Discussions</h1>
  <% if user_signed_in?%>
<%= link_to 'New Discussion', new_discussion_path, class:"waves-effect waves-light btn" %>
  <% end %>
</div>
<table class="highlight">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Puntuación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discussions.each do |discussion| %>
     
      <tr >
        <td><%= discussion.headline%></td>
        <td><%= discussion.user.username %></td>
        
        <td><i><%= discussion.created_at.strftime ("%A, %d %b %Y %l:%M %p") %></i></td>
        <td><%= rating_for discussion, 'calificacion' , enable_half: true , readonly: true %></td>
      <!--  <td></td>-->
        <td><%= link_to 'Ver', discussion, class: "bontonnormal"%></td>
        <% if user_signed_in?  && current_user?(discussion.user) %>
        <td><%= link_to 'Editar', edit_discussion_path(discussion), class: "bontonnormal" %></td>
        <td><%= link_to 'Eliminar', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "bontonnormal" %></td>
        <% end %>
      </tr>
 
    <% end %>
  </tbody>
</table>




<br></br>
<div><%= will_paginate @discussions ,previous_label: "Back", next_label: "Next", inner_window:2, outer_window:1 %></div>
</div>