<div class="container">

<div class="container">
  <h4 class="bordered"><%= @discussion.headline %></h4>

  <h6>Escrito por: <b><%=@discussion.user.username %></b>  </h6>

  <div class="card-panel teal lighten-5">
      <p >
        <%= @discussion.content.html_safe  %>
        
      </p>
  </div>
  <p><i><%= @discussion.created_at.strftime("%e %b %Y %H:%M:%S%p")%></i></p>
  
  <div class="rating" data-score = "<%=@discussion.rating%>"</div></div>
  
  <%= link_to 'Edit', edit_discussion_path(@discussion) %> |
  <%= link_to 'Back', discussions_path %>
  
   <%= render  "comments/comment" %>
   <%= render  "comments/form" %>
  
  
  </div>
<script>
  /*$('.rating').raty({
    readOnly: true,
    score: function:(){
      return $(this).attr('data-score');
      },
      path: 'assets/images/'
    
  });*/
  $('.rating').raty({  readOnly: true, path: '/assets/'});
 
</script>