<p id="notice"><%= notice %></p>


  <h4><%= @discussion.headline %></h4>


<p>
  <%= @discussion.content %>
  
</p>

<p><i><%= @discussion.created_at.strftime("%e %b %Y %H:%M:%S%p")%></i></p>
<%=render 'disqus'%>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
