<p id="notice"><%= notice %></p>

<h1>
  <strong>Username:</strong>
  <%= @user.username %>
   <%= image_tag @user.avatar.url(:small) if @user.avatar? %>
</h1>


<%= link_to 'Edit', edit_user_path %> |
<%= link_to 'Back', user_path %>