<p id="notice"><%= notice %></p>

<h1>
  <strong></strong>
  <%= @user.username %></h1>
   <div>
  <%=  avatar_for(@user, size: 150)%>
  <div><%= @user.name %></div>  
  <%if @user.description?%>
   <div><i><%= @user.description %></i></div>  
   <%else %>
     <div> <i>Add a description to your profile!</i></div>
  <%end%>
  
  
 </div> 


 <% if user_signed_in? && current_user?(@user) %>
<%= link_to 'Edit', edit_user_path %> |
 <%end%>
<%= link_to 'Back', root_url %>