<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="#"><img src="<%= asset_path('logo.png') %>" class="mylogo"></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Inicio", root_path, class: ""  %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", auth_sign_out_path, class: ""  %></li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: ""  %></li>
          <li><%= link_to "Sign up", register_path, class: "" %></li>
        <% end %>
        <li class="active"><%= link_to "Contact us", contact_path, class: ""  %></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><%= link_to "Inicio", root_path, class: ""  %></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sing up</a></li>
        <li><%= link_to "Contact us", contact_path, class: ""  %></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <div class="container" style="margin-top:20px;">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Apellido</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
                <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Comentario</label>
                </div>
              </div>
                <button class="btn waves-effect waves-light  blue-grey darken-1" type="submit" name="action">Enviar
                      <i class="material-icons right">send</i>
                </button>
            </form>
          </div>
            </form>
          </div>
    </div>
