<% @r_crimen_suspect.each do | clase | %>
<tr>
    <td><%= clase.fecha.to_date %></td>
    <td><%= clase.address %></td>
    <td class="xdetails_content"><%= clase.details %></td>
    <td colspan="2">
        <% if !clase.images[0].nil? %>
        <img src="<%=asset_path( clase.images[0].small )%>" class="img_prev">
        <%end %>
    </td>
    <td>
        <% if clase.instance_of? Report%>
        <%= link_to (raw("<h6 class='status_type_report'>Crime</h6>")), report_path(clase.id) %>
        <% else %>
        <%= link_to (raw("<h6 class='status_type_suspect'>Suspect</h6>")), suspect_path(clase.id) %>
        <% end %>
    </td>
</tr>
<% end %>
