

<div class="row noborder_row" id="id-user-panel">
    <div class="col s4 m2 nomargin_col nav-panel">


    <ul>
        <li><a href=" <%= new_report_path %>"><strong><i class="material-icons tiny">priority_high</i>   REPORTAR CRIMEN</strong></a></li>

        <li><a href=""><strong><i class="material-icons tiny">visibility</i>  REPORTAR GRUPO</strong></a></li>
        <li><a href=""><strong><i class="material-icons tiny">subdirectory_arrow_right</i>  CALCULAR RUTA</strong></a></li>
        <li><a href=""><strong><i class="material-icons tiny">storage</i>  FILTRAR CRIMENES</strong></a></li>
        <li><a href=""><strong><i class="material-icons tiny">trending_up</i>  ESTADÍSTICAS</strong></a></li>
    </ul>

    <div class="btn btn-floating pulse blue-grey darken-1 right" id="mybtn"></div>

    </div>

    <div class="col m10 nomargin_col">

      <div id="map" style='width: auto; height: 89vh;'></div>

    </div>
</div>

<h1> Reportes </h1>
<% @temp.each do | report | %>
<p> <%= report.latitude %> </p>
<% end %>

<%= render "layouts/init-map"%>


<script>

    function addMarker(location) {
        console.log("Encontre", location);

        crime_marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: "<%= image_url("robbery")%>",
          draggable: true
      });
    }


    var xmark;
    var xlat, xlng;
    var loc_crime;
    <% @temp.each do | report | %>
          xlat = "<%= report.latitude %>" ;
          xlng = "<%= report.longitude %> ";

          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          console.log(xlat);
          console.log(xlng);
          loc_crime = {lat: xlat, lng: xlng};

        addMarker(loc_crime);

    <% end %>

</script>
<%= render "layouts/map-actions" %>
