<%= render "layouts/user-panel" %>

<head>
<style>
.modal { width: 85% !important ; max-height: 80% !important ; }
</style>
</head>

<div class="main">
    <div id="floating-panel">
        <button class="btn activation" id="#heatMap_report" onclick="toggleHeatmap()">Mapa de calor</button>
        <button class="btn activation" id="#heatMap_radius" onclick="changeRadius()">Aumentar radio</button>
        <button class="btn activation" id="#heatMap_gradient" onclick="changeGradient()">Cambio de color</button>
    </div>
    <div id="map" class="map_user-panel"></div>
</div>


<!-- Generacion del mapa con todos los reportes hechos -->
<script>
    var xlat, xlng;
    var loc_crime;
    var details;
    var data = [];
    var data_susp = [];
    var data_transp = [];

    <% @temp.each do | report | %>
          xlat = "<%= report.latitude %>" ;
          xlng = "<%= report.longitude %> ";
          details = "<%= report.details %> ";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details];
          data.push(tuple);
    <% end %>

    <% @suspect_temp.each do | suspect | %>
          xlat = "<%= suspect.latitude %>" ;
          xlng = "<%= suspect.longitude %> ";
          details = "<%= suspect.details %> ";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details];
          data_susp.push(tuple);
    <% end %>

    <% @transport_temp.each do | transport | %>
          xlat = "<%= transport.latitude %>" ;
          xlng = "<%= transport.longitude %> ";
          details = "<%= transport.detalles %> ";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details];
          data_transp.push(tuple);
    <% end %>

</script>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
  </div>
</div>

<script>
$(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
          
</script>

<%= render "layouts/map-actions" %>
<%= javascript_include_tag "g_maps/gm_user-panel" %>

