<%= javascript_include_tag "g_maps/gm_user-panel" %>
<%= render "layouts/user-panel" %>

<div class="main">
    <div id="map" class="map_user-panel"></div>
</div>


<!-- Generacion del mapa con todos los reportes hechos -->
<script>
    var xlat, xlng;
    var loc_crime;
    var details;
    var data = [];
    var data_susp = [];

    <% @temp.each do | report | %>
          xlat = "<%= report.latitude %>" ;
          xlng = "<%= report.longitude %> ";
          details = "<%= report.details %> ";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details];
          data.push(tuple);
    <% end %>

    <% @suspect_temp.each do | suspect | %>
          xlat = "<%= suspect.latitude %>" ;
          xlng = "<%= suspect.longitude %> ";
          details = "<%= suspect.details %> ";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details];
          data_susp.push(tuple);
    <% end %>
</script>

<%= render "layouts/map-actions"%>
