<%= render "activity" %>
<%= render "layouts/user-panel" %>

<head>
<style>
.modal { width: 85% !important ; max-height: 80% !important ; }

</style>
</head>

<div class="main">
    
    <div id="floating-panel">
        <button class="btn activation" id="#heatMap_report" onclick="toggleHeatmap()">Mapa de calor</button>
        <button class="btn activation" id="#heatMap_radius" onclick="changeRadius()">Aumentar radio</button>
        <button class="btn activation" id="#heatMap_gradient" onclick="changeGradient()">Cambio de color</button>
    </div>
    <div id="map" class="map_user-panel"></div>
</div>


<!-- Generacion del mapa con todos los reportes hechos -->
<script>
    var xlat, xlng;
    var loc_crime;
    var details;
    var data = [];
    var data_susp = [];
    var data_transp = [];
    var report_url;

    <% @temp.each do | report | %>
          xlat = "<%= report.latitude %>" ;
          xlng = "<%= report.longitude %> ";
          details = "<%= report.details %> ";
          report_url = "<%=report_path(report.id)%>";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details, report_url];
          data.push(tuple);
    <% end %>

    <% @suspect_temp.each do | suspect | %>
          xlat = "<%= suspect.latitude %>" ;
          xlng = "<%= suspect.longitude %> ";
          details = "<%= suspect.details %> ";
          report_url = "<%=suspect_path(suspect.id)%>";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details,report_url];
          data_susp.push(tuple);
    <% end %>

    <% @transport_temp.each do | transport | %>
          xlat = "<%= transport.latitude %>" ;
          xlng = "<%= transport.longitude %> ";
          details = "<%= transport.detalles %> ";
          report_url = "<%=transport_path(transport.id)%>";
          xlat = parseFloat(xlat);
          xlng = parseFloat(xlng);
          tuple = [xlat, xlng, details,report_url];
          data_transp.push(tuple);
    <% end %>

</script>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
  </div>
</div>

<div id="second-step" class="tap-target" data-activates="home_link">
<div class="tap-target-content">
  <h5>Bienvenido</h5>
  <div>
  Parece que vamos a empezar con el tutorial. 
  Siempre puedes volver a verlo
  o puedes ir a nuestro documento para 
  una explicación más exhaustiva de la aplicación.
  </div>
  <button class="btn activation" onclick="$('#first-step').tapTarget('open');">Siguiente</button>
</div>
</div>

<div id="first-step" class="tap-target" data-activates="expand_icon">
<div class="tap-target-content">
  <h5>Bienvenido</h5>
  <div>
  Parece que vamos a empezar con el tutorial. 
  Siempre puedes volver a verlo
  o puedes ir a nuestro documento para 
  una explicación más exhaustiva de la aplicación.
  </div>
  <button class="btn activation" onclick="a();">Siguiente</button>
</div>
</div>




<script>
$(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });


  $('#first-step').tapTarget('open');

  var a = function(){
        
        $("#first-step").tapTarget('close');
        $("#second-step").tapTarget("open"); 
  }
</script>

<%= render "layouts/map-actions" %>
<%= javascript_include_tag "g_maps/gm_user-panel" %>

