<%= javascript_include_tag "transport" %>
<%= render "layouts/user-panel" %>

<div class="main content">
    <div class="container center-align">

        <h4>¿Como se produjo el crimen/incidente?</h4>
        <div class="input-field col s12 m10">
            <select class="icons" id= "selector">
              <option value="seleccione" selected>Seleccione </option>
              <option value="carro" data-icon="<%= asset_path('carro_icon.jpg')%>" class="left circle">Conduciendo</option>
              <option value="bicicleta" data-icon="<%= asset_path('bicicleta_icon.jpg')%>" class="left circle">Andando en bicicleta</option>
              <option value="peaton" data-icon="<%= asset_path('peaton_icon.jpg')%>" class="left circle">Caminando</option>
              <option value="sitp" data-icon="<%= asset_path('sitp_icon.jpg')%>" class="left circle">En un SITP</option>
              <option value="transmilenio" data-icon="<%= asset_path('transmi_icon.jpg')%>" class="left circle">En un Transmilenio</option>
              <option value="taxi" data-icon="<%= asset_path('taxi_icon.jpg')%>" class="left circle">En un Taxi</option>

            </select>
            <a class="waves-effect waves-light btn-large " id= "button_t">Siguiente</a>

    </div>
</div>
