<%= render "layouts/user-panel"%>

<div class="main content">
    <div class="container">
        <h1>Estadisticas</h1>

        <h5>Reportes de crimenes</h5>

        <canvas id="report_chart"></canvas>

        <h5>Sospechosos vs Crimenes </h5>
        <select name="" id="filter_svsr" class="xrange_days">
            <option value="90">Últimos 90 dias</option>
            <option value="60">Últimos 60 dias</option>
            <option value="30">Últimos 30 dias</option>
        </select>

        <canvas id="suspectReport_chart"></canvas>

        <h5>Transport, lines reports</h5>
        <canvas id="transport_chart"></canvas>

        <script> var reports = <%= @reports %>; </script>
        <script> var report_c = <%= @report_c %>; </script>
        <script> var suspect_c = <%= @suspect_c %>; </script>
        <script> var transport_c = <%= @transport_c %>; </script>

        <%= javascript_include_tag "statistics/statistics" %>
        <a class="btn" href="<%= statistics_path %>.pdf">Descargar como PDF</a>
    </div>
</div>
