<%= render "layouts/user-panel"%>

<div class="main content">
    <div class="container">
        <h1>Statistics</h1>

        <h5>Reporte de crímenes</h5>
        <canvas id="myChart" class="chart_canvas"></canvas>
        <h5>Reporte de crímenes vs Reporte de sospechosos</h5>
        <select id="range_days" class="xrange_days">
            <% for i in 1..3 %>
            <option value="<%=i * 30%>">Ultimos <%= i * 30 %> días</option>
            <% end %>
        </select>
        <canvas id="canvas2" class="chart_canvas"></canvas>



        <script>
        var ctx = document.getElementById("myChart");
        var myData = {};
        var myRData = {};
        var mySData = {};
        var max_val = 0;

        <% @report.each do | r |%>
            if( "<%= r.tipo %>" in myData){
                myData["<%= r.tipo %>"] += 1;
            }else{
                myData["<%= r.tipo %>"] = 1;
            }

            if("<%= r.fecha.to_date %>" in myRData){
                myRData["<%= r.fecha.to_date %>"] += 1;
            }else{
                myRData["<%= r.fecha.to_date %>"] = 1;
            }


        <% end %>

        <% @suspect.each do | s |%>
            if("<%= s.fecha %>" in mySData){
                mySData["<%= s.fecha.to_date %>"] += 1;
            }else{
                mySData["<%= s.fecha.to_date %>"] = 1;
            }
        <% end %>

        var calcData = [];
        var calcLabels = [];

        for(key in myData){

            if(myData[key] > max_val){
                max_val = myData[key];
            }
            calcLabels.push(key);
            calcData.push(myData[key]);
        }

        var calcSData = [];
        var calcRData = [];

        for(key in mySData){
            calcSData.push(key);
        }

        for(key in myRData){
            calcRData.push(key);
        }

        var combination = calcSData.concat(calcRData);

        var unique = combination.filter(function(elem, index, self){
            return index == self.indexOf(elem);
        })


        var data_suspect = [];
        var data_crime   = [];

        unique.sort(function(a,b) {
          a = a.split('-').join('');
          b = b.split('-').join('');
          return a > b ? 1 : a < b ? -1 : 0;
        });

        var aux = [];
        if(unique.length >= $("#range_days").val()){
            for(var i = unique.length - $("#range_days").val() - 1; i < unique.length; i++){
                aux.push(unique[i]);
            }
        }else{
            aux = unique;
        }


        for(var i = 0; i < aux.length; i++){
            if(aux[i] in mySData){
                data_suspect.push(mySData[ aux[i] ]);
            }else{
                data_suspect.push(0);
            }

            if(aux[i] in myRData){
                data_crime.push(myRData[ aux[i] ]);
            }else{
                data_crime.push(0);
            }
        }

        console.log("Suspect:", data_suspect);
        console.log("Crime:", data_crime);

        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: calcLabels,
                datasets: [{
                    label: "Crimenes",
                    data: calcData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],

                    xAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max: max_val
                        }
                    }]
                }
            }
        });


        // Second graph
        var config = {
            type: 'line',
            data: {
                labels: aux,
                datasets: [{
                    label: "Crime reports",
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    fill: true,
                    data: data_crime

                }, {
                    label: "Suspect report",
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    fill: true,
                    data: data_suspect
                }]
            },
            options: {
                title:{
                    text: "Suspects vs Crimes"
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }, ],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        }
                    }]
                },
            }
        };


        var ctx2 = document.getElementById("canvas2").getContext("2d");
        var myLine = new Chart(ctx2, config);



        $("#range_days").on("change", function(){
            aux = [];
            if(unique.length >= $("#range_days").val()){
                for(var i = unique.length - $("#range_days").val() - 1; i < unique.length; i++){
                    aux.push(unique[i]);
                }
            }else{
                aux = unique;
            }

            for(var i = 0; i < aux.length; i++){
                if(aux[i] in mySData){
                    data_suspect.push(mySData[ aux[i] ]);
                }else{
                    data_suspect.push(0);
                }

                if(aux[i] in myRData){
                    data_crime.push(myRData[ aux[i] ]);
                }else{
                    data_crime.push(0);
                }
            }
            console.log(aux);


                var ctx2 = document.getElementById("canvas2").getContext("2d");
                myLine = new Chart(ctx2, config);
                // window.myLine.update();


        });



        </script>

    </div>
</div>
