<%= render "layouts/user-panel"%>

<div class="main content">
    <div class="container">
        <h1>Statistics</h1>

        <h5>Crime reports</h5>

        <canvas id="report_chart"></canvas>

        <h5>Suspects vs Crimes </h5>
        <select name="" id="filter_svsr" class="xrange_days">
            <option value="90">Last 90 days</option>
            <option value="60">Last 60 days</option>
            <option value="30">Last 30 days</option>
        </select>

        <canvas id="suspectReport_chart"></canvas>

        <script> var reports = <%= @reports %>; </script>
        <script> var report_c = <%= @report_c %>; </script>
        <script> var suspect_c = <%= @suspect_c %>; </script>

        <%= javascript_include_tag "statistics/statistics" %>
    </div>
</div>
