<%= render "layouts/user-panel" %>
<div class="main content">
    <div class="container">

    <p id="notice"><%= notice %></p>

    <h1>Users</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>@</th>
          <th>Correo</th>
          <th>Creación</th>
          <th>Modificación</th>
          <th>Imagen</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%b %d /%y %H:%M") %></td>
            <td><%= user.updated_at.strftime("%b %d /%y %H:%M") %></td>
            <td><%= user.avatar %></td>
            <td><%= link_to 'Edit', edit_admin_admin_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>
  </div>
</div>