<%= javascript_include_tag "materialize_init.js" %>
  <%= form_with(model: report, local: true) do |form| %>
   



        <div class="input">
          <%= form.label :tipo %>
            <%= form.select(:tipo, options_for_select([["Robo violento","Robo violento"],["Asesinato","Asesinato"],["Raponazo","Raponazo"],["Estafa","Estafa"]]) ) %>
        </div>

        <div class="field">
          <%= form.label "Dia" %>
            <%= form.text_field :fecha, class: "datepicker"%>
        </div>

        <div class="field">
          <%= form.label "Hora" %>
            <%= form.text_field :fecha, class: "timepicker"%>
        </div>

        <div class="field">
          <%= form.label :latitude %>
            <%= form.text_field :latitude, id: :report_latitude, readonly: true %>
        </div>

        <div class="field">
          <%= form.label :longitude %>
            <%= form.text_field :longitude, id: :report_longitude, readonly: true%>
        </div>

        <div class="field">
          <%= form.label :address %>
            <%= form.text_field :address, id: :report_address %>
        </div>

        <div class="field">
          <%= form.label :details %>
            <%= form.text_field :details, id: :report_details %>
        </div>

        <div class="field">
          <%= form.label :images %>
            <div class="file-field input-field">
              <div class="btn green">
                <span>Adjuntar archivo</span>
                <%= form.file_field :images, multiple: true %>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
        </div>

       
        <div class="actions">
          <%= form.submit class: 'btn' %>
        </div>
        <% end %>
<!-- Manejo de errores -->
        <% if report.errors.any? %>
        <div id="error_explanation">
          <p>
           Hubo un error en el creacion del reporte:</p>
  
          <ul>
            <% report.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
          </ul>
        </div>
        <% end %>