<li> <div class="card horizontal">
                              <div class="card-image">
                                   <div>
                                    <%=report.created_at.strftime("%b %e, %l:%M %p")%>
                                   </div>
                                 <img src="assets/crimen.png">
                                 <span class="card-title"></span>
                                  <div>
                                   <div >
                                     <%= avatar_for(report.user,size: 35)%>
                                   </div> 
                                <%=link_to "@"+report.user.username, user_path(report.user.id)%>
                                
                              </div>
                                  
                                   <div>
                                       <strong> <%=report.tipo%> </strong>   
                                   </div>
                                     
                                   
                                    <div class = "location">
                                      <a class="btn-floating blue"><i class="small material-icons" >location_on</i> </a>
                                      <div class="latitude"><%=report.latitude%></div>
                                      <div class="longitude"><%=report.longitude%></div>
                                    </div>
                              </div>
                              
                              <div class="card-stacked">
                                    <div class="card-content">
                                      <p> <%=report.details.split.first(7).join(' ')%>
                                            ...</p>
                                    </div>
                                   <div class="card-action">
                                      <a  href="<%=report_path(report.id)%>">Ver Reporte</a>
                                    </div>
                              </div>
                              
                           </div>
                       </li>