<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Safe and Sound</title>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "style.css" %>


    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

  </head>
  <body>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <nav class="white" role="navigation">
    <div class="nav-wrapper container">


        <img src="<%= asset_path('logo.png') %>" class="mylogo">


        <ul class="right hide-on-med-and-down">

        <% if user_signed_in? %>
          <li><%= link_to "Log out", auth_sign_out_path, class: ""  %></li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: ""  %></li>
          <li><%= link_to "Sign up", register_path, class: "" %></li>
        <% end %>

        <% if user_signed_in? %>
            <li ><%= link_to "Forum", discussions_path, class: ""  %></li>
        <% end %>
        <li ><%= link_to "Contact us", contact_path, class: ""  %></li>

        <% if user_signed_in? %>
        <li style="color: #5db6fc"> Welcome, <%= current_user.email %></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><%= link_to "Inicio", root_path, class: ""  %></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sing up</a></li>
        <li><%= link_to "Contact us", contact_path, class: ""  %></li>


      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
