<%if user_signed_in?%>

<div class="side_bar">
    <ul>
        <li id="expand"><i class="small material-icons" id="expand_icon">navigate_next</i></I></li>
        <li> <a href= <%= user_panel_path %> ><i class="small material-icons">home</i><div class="link_menu">INICIO</div></a> </li>
        <li> <a href= <%= new_route_path %> ><i class="small material-icons">directions</i><div class="link_menu">CALCULAR RUTA</div></a> </li>
        <li> <a href= <%= report_type_path %> ><i class="small material-icons">note_add</i><div class="link_menu">REPORTAR</div></a> </li>
        <li> <a href= <%= reports_list_path %> ><i class="small material-icons">visibility</i><div class="link_menu">VER REPORTES</div></a> </li>
        <li> <a href="#!"><i class="small material-icons">filter_list</i><div class="link_menu">FILTRAR</div></a> </li>
        <li> <a href= <%= statistics_path %> ><i class="small material-icons">trending_up</i><div class="link_menu">ESTADISTICAS</div></a> </li>
        <li> <a href=<%= current_user  %>><i class="small material-icons">tune</i><div class="link_menu">AJUSTES</div></a> </li>
    </ul>
</div>

<%end%>
